@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body {
    background: #F2F3F4;
}


/*PARA EL LOGOTIPO DEL DAILY PLANET*/

#logo-header {
    font-size: 7vw;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

.logo>.daily {
    font-style: italic;
    color: #F7882F;
}

.logo>.planet {
    color: #6B7A8F;
}

.logo>.fa-globe {
    color: #6B7A8F;
}